@import url(googleFont.css);
@import url(base.css);
.Overview {
  margin: 0 auto; }

.headerTop {
  width: 100%;
  background: var(--topbar-bg-color);
  padding: 10px 0; }
  .headerTop_box-Left .fas {
    margin-right: 8px; }
  .headerTop_box-Center {
    text-align: center; }
    .headerTop_box-Center .bg_primary {
      background-color: var(--color-primary);
      color: #fff;
      padding: 0 8px;
      border-radius: 3px;
      margin-left: 10px;
      font-size: var(--gin-font);
      display: inline-block; }
      .headerTop_box-Center .bg_primary:hover {
        background: #947531; }
  .headerTop_box-Right {
    justify-content: flex-end; }
    .headerTop_box-Right .gin-currency {
      position: relative;
      cursor: pointer; }
      .headerTop_box-Right .gin-currency-dropdown {
        position: absolute;
        display: none; }
        .headerTop_box-Right .gin-currency-dropdown .currency-item {
          padding: 5px 0; }
          .headerTop_box-Right .gin-currency-dropdown .currency-item.active {
            color: var(--color-primary); }
          .headerTop_box-Right .gin-currency-dropdown .currency-item:hover {
            color: var(--color-primary);
            cursor: pointer; }
      .headerTop_box-Right .gin-currency i {
        margin-left: 5px; }
      .headerTop_box-Right .gin-currency:hover .gin-currency-dropdown {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background-color: #fff;
        padding: 5px 20px;
        top: 100%;
        font-size: calc(var(--gin-font) + 2px);
        right: 0;
        box-shadow: 0 6px 12px #0000002d; }
    .headerTop_box-Right .gin-link a {
      margin-left: 15px;
      color: var(--text-color-banner); }
      .headerTop_box-Right .gin-link a:hover {
        color: var(--color-primary); }

.headerMenu {
  padding: 20px 0; }
  .headerMenu .header_Center li {
    position: relative; }
    .headerMenu .header_Center li a {
      padding: 15px 20px;
      display: inline-block;
      width: max-content;
      color: var(--text-color-second); }
      .headerMenu .header_Center li a i {
        margin-left: 5px; }
    .headerMenu .header_Center li.active > a {
      color: var(--color-primary); }
    .headerMenu .header_Center li ul {
      position: absolute;
      min-width: 220px;
      padding: 15px 25px;
      display: block;
      box-shadow: 0 6px 15px #0000001f;
      z-index: 99;
      text-align: left;
      visibility: hidden;
      margin-top: 50px;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      background-color: var(--body-bg); }
      .headerMenu .header_Center li ul a {
        padding: 3px 0;
        font-size: var(--gin-font); }
    .headerMenu .header_Center li:hover ul {
      visibility: visible;
      margin-top: 0; }
      .headerMenu .header_Center li:hover ul li:hover a {
        color: var(--color-primary); }
  .headerMenu .header_Right {
    justify-content: flex-end; }
    .headerMenu .header_Right-account {
      padding-right: 15px;
      border-right: 1px solid var(--text-color-primary); }
    .headerMenu .header_Right-search {
      margin-left: 25px; }
    .headerMenu .header_Right-cart {
      margin-left: 25px; }
    .headerMenu .header_Right i {
      font-size: calc(var(--gin-font) + 6px); }
    .headerMenu .header_Right a {
      color: var(--text-color-second); }
      .headerMenu .header_Right a:hover {
        color: var(--color-primary); }
    .headerMenu .header_Right li {
      display: inline-block; }
    .headerMenu .header_Right ul {
      margin-left: 10px; }

.MainContent .gin_slideshow {
  position: relative;
  overflow: hidden; }
  .MainContent .gin_slideshow:hover .slide_button-prev {
    left: 10px; }
  .MainContent .gin_slideshow:hover .slide_button-next {
    right: 10px; }

.MainContent .slide_item {
  position: relative; }
  .MainContent .slide_item .wrapper {
    width: 1410px;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: table; }
    .MainContent .slide_item .wrapper .slide_item-content {
      padding: 0 15px;
      display: table-cell;
      vertical-align: middle; }
      .MainContent .slide_item .wrapper .slide_item-content p {
        font-size: calc(var(--gin-font) + 8px);
        font-weight: 700;
        margin-bottom: 0.68em; }
        .MainContent .slide_item .wrapper .slide_item-content p span {
          color: var(--color-primary); }
      .MainContent .slide_item .wrapper .slide_item-content h2 {
        font-size: calc(var(--gin-font) + 44px);
        line-height: 1em;
        margin-bottom: 5px; }
      .MainContent .slide_item .wrapper .slide_item-content a {
        padding: 14px 20px;
        background-color: var(--text-color-second);
        color: var(--body-bg);
        margin-top: 30px;
        border-radius: 4px;
        display: inline-block;
        letter-spacing: .5px; }

.MainContent .slide_button button {
  width: 45px;
  height: 45px;
  border: 1px solid var(--gin-border-main);
  border-radius: 50%;
  background: var(--body-bg);
  font-size: 22px;
  transition: all .35s ease;
  cursor: pointer; }

.MainContent .slide_button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -80px; }

.MainContent .slide_button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -80px; }

.MainContent .slide_dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 30px;
  text-align: center; }
  .MainContent .slide_dots ul {
    display: block;
    text-align: center; }
    .MainContent .slide_dots ul li {
      display: inline-block;
      margin: 0 6px;
      padding: 2px;
      border: 2px solid transparent;
      cursor: pointer;
      border-radius: 50%; }
      .MainContent .slide_dots ul li button {
        width: 10px;
        height: 10px;
        border: 0;
        background-color: var(--color-primary);
        border-radius: 50%;
        display: block; }
      .MainContent .slide_dots ul li.active {
        border: 2px solid var(--color-primary); }
        .MainContent .slide_dots ul li.active button {
          background: var(--body-bg); }
