@import "googleFont.css";
@import "base.css";

.Overview {
    margin: 0 auto;
}

.headerTop {
    width: 100%;
    background: var(--topbar-bg-color);
    padding: 10px 0;
    &_box {
        &-Left {
            .fas {
                margin-right: 8px;
            }
        }
        &-Center {
            text-align: center;
            .bg_primary {
                background-color: var(--color-primary);
                color: #fff;
                padding: 0 8px;
                border-radius: 3px;
                margin-left: 10px;
                font-size: var(--gin-font);
                display: inline-block;
                &:hover {
                    background: #947531;
                }
            }
        }
        &-Right {
            justify-content: flex-end;
            .gin {
                &-currency {
                    position: relative;
                    cursor: pointer;
                    &-dropdown {
                        position: absolute;
                        display: none;
                        .currency-item {
                            padding: 5px 0;
                            &.active {
                                color: var(--color-primary);
                            }
                            &:hover {
                                color: var(--color-primary);
                                cursor: pointer;
                            }
                        }
                    }
                    i {
                        margin-left: 5px;
                    }
                    &:hover {
                        .gin-currency-dropdown {
                            display: block;
                            border: 1px solid rgba(0,0,0,0.15);
                            border-radius: 3px;
                            background-color: #fff;
                            padding: 5px 20px;
                            top: 100%;
                            font-size: calc(var(--gin-font) + 2px);
                            right: 0;
                            box-shadow: 0 6px 12px #0000002d;
                        }
                    }
                }
                &-link {
                    a {
                        margin-left: 15px;
                        color: var(--text-color-banner);
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}

.headerMenu {
    padding: 20px 0;
    .header {
        &_Center {
            li {
                position: relative;
                a {
                    padding: 15px 20px;
                    display: inline-block;
                    width: max-content;
                    color: var(--text-color-second);
                    i {
                        margin-left: 5px;
                    }
                }
                &.active {
                    >a {
                        color: var(--color-primary);
                    }
                }
                ul {
                    position: absolute;
                    min-width: 220px;
                    padding: 15px 25px;
                    display: block;
                    box-shadow: 0 6px 15px #0000001f;
                    z-index: 99;
                    text-align: left;
                    visibility: hidden;
                    margin-top: 50px;
                    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    background-color: var(--body-bg);
                    a {
                        padding: 3px 0;
                        font-size: var(--gin-font);
                    }
                }
                &:hover {
                    ul {
                        visibility: visible;
                        margin-top: 0;
                        li {
                            &:hover {
                                a {
                                    color: var(--color-primary);
                                }
                            }
                        }
                    }
                }
            }
        }
        &_Right {
            justify-content: flex-end;
            &-account {
                padding-right: 15px;
                border-right: 1px solid var(--text-color-primary);
            }
            &-search {
                margin-left: 25px;
            }
            &-cart {
                margin-left: 25px;
            }
            i {
                font-size: calc(var(--gin-font) + 6px);
            }
            a {
                color: var(--text-color-second);
                &:hover {
                    color: var(--color-primary);
                }
            }
            li {
                display: inline-block;
            }
            ul {
                margin-left: 10px;
            }
        }
    }
}

.MainContent {
    .slide {
        &_item {
            position: relative;
            .wrapper {
               width: 1410px;
               position: absolute;
               margin: 0 auto;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               height: 100%;
               display: table;
               .slide_item-content {
                    padding: 0 15px;
                    display: table-cell;
                    vertical-align: middle;
                    p {
                        font-size: calc(var(--gin-font) + 8px);
                        font-weight: 700;
                        margin-bottom: 0.68em;
                        span {
                            color: var(--color-primary);
                        }
                    }
               }
            }
        }
    }
}